.is-calc-left-column {
    margin: 0 0em 0 1rem;
}

.is-result-columns {
    align-items: flex-end;
}

.is-support-button {
    margin-top: 5rem;
    background-color: transparent;
    padding: 10px;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    height: 5rem;
    opacity: 0;
}

.is-support-button-2 {
    opacity: 0;
    height: 10rem;
}